.home {
  margin-top: 20px;
  margin-left: 200px;
}
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
}
.content {
  overflow: auto;
  margin-left: 205px;
}
.tableImage{
  width: 50px;

}
.searchTerm{
  width: 300px;
  /* height: 200px; */
  border: 3px solid #28a745;
  /* border-right: none; */
  padding: 10px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  color: #dc3545;
}